{% extends 'mailing/base.html' %}
{% block content%}
{% if perms.mailing.view_mailing %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Добавить рассылку</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h6 class="card-text">Тема: {{ object.message }}</h6>
                <h7>Клиенты:</h7>
                <ul>
                    {% for client in object.clients.all %}
                    <li><small>{{ client.full_name }}</small></li>
                    {% endfor %}
                </ul>
                <p class="card-text">Раз в {{ object.time }} с {{ object.date }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'mailing:mailing_detail' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Открыть</a>
                        <a href="{% url 'mailing:mailing_update' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Редактировать</a>
                        <a href="{% url 'mailing:mailing_delete' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Удалить</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}