{% extends 'mailing/base.html' %}

{% block content %}
<div class="product-card">
    <h2>{{ mailing.message }}</h2>
    <h4>Клиенты:</h4>
    <ul>
        {% for client in mailing.clients.all %}
        <li>{{ client.full_name }} - {{ client.email }}</li>
        {% endfor %}
    </ul>
    <p>Дата: {{ mailing.time|date:"Y-m-d" }}</p>
    <p>Время: {{ mailing.time|time:"H:i" }}</p>
    <p>Как часто:
        {% if mailing.frequency == 'daily' %}
            Раз в день
        {% elif mailing.frequency == 'weekly' %}
            Раз в неделю
        {% elif mailing.frequency == 'monthly' %}
            Раз в месяц
        {% endif %}
    <div class="card-footer"></div>
</div>
{% endblock %}