{% extends 'mailing/base.html' %}
{% load tz %}
{% block content %}
<div class="product-card">
    <h2>{{ mailing.message }}</h2>
    <h4>Клиенты:</h4>
    <ul>
        {% for client in mailing.clients.all %}
        <li>{{ client.full_name }} - {{ client.email }}</li>
        {% endfor %}
    </ul>
    <p>Дата: {{ mailing.date }}</p>
    <p>Время: {{ mailing.time }}</p>
    <p>Как часто:
        {% if mailing.frequency == 'daily' %}
            Раз в день
        {% elif mailing.frequency == 'weekly' %}
            Раз в неделю
        {% elif mailing.frequency == 'monthly' %}
            Раз в месяц
        {% endif %}
    </p>
    <p>Активна:
        {% if mailing.is_active %}
            Да
        {% else %}
            Нет
        {% endif %}
    </p>
    <div class="card-footer">
</div>
</div>
{% endblock %}